.section {
    border-bottom: 2px solid darkgray;
    padding-bottom: 80px;
    margin-bottom: 20px;
}

.title {
    padding-top: 80px;
    text-align: center;
}

.scrollspy-example {
    margin-left: 80px;
    padding-right: 80px;
    height: 100vh;
    overflow-y: auto;
}

.school {
  padding-top: 20px;
  margin-bottom: 5px;
}

.degree {
  margin-bottom: 3px;
  font-style: italic;
}

.bullet {
  padding-left: 20px;
}

.contact-pic img {
    max-width: 60%;
    height: auto;
}